.section_menu {
	padding: 10rem 0 2rem;
}

.section-review {
	padding: 30rem 0;
	background-color: $color-primary;
}

.section-contact {
	padding: 20rem 0 10rem;
	margin-top: -8rem;
}

.section_wrapper {
	max-width: 175rem;
	margin: 0 auto;
}
